/* reset */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}

/* utility */
:root {
    --neutral:#ffffff; 
    --lightblue:#B4D0E7;
    --buttons:#0061FF;
    --designit:#F5F5F5;
    /* sponsors-colors */
    --sponsor-1: #A2D39B;
    --sponsor-2: #61082B;
    --sponsor-3: #0093CE;
    --sponsor-4: #FF1C1C;
    --sponsor-5: #D5001F;
    --sponsor-6: #B4D0E7;
    --sponsor-7: #0D2481;
    --sponsor-8: #FFD830;
    --sponsor-1-bis: #D1E9CD;
    --sponsor-text: #61082B;
}

/* common */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--neutral);
}
header {
    width: 100%;
}
main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
footer {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #000000;
    color: white;
}
ul {
    list-style-type: none;
}

/* body */
    /* header  */
    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--neutral);
        position: fixed;
    }
    nav ul {
        display: inline-flex;
    }
    nav ul li {
        padding: 0 25px 0 25px;
    }
    nav div {
        display: inline-flex;
        align-items: center;
        padding: 20px 15px;
    }
    nav div.menu-header ul li:last-child {
        background-color: var(--buttons);
        color: white;
    }
    section.jumbotron {
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: var(--lightblue);
    }
    section.jumbotron .container {
        width:60%;
        margin-top: 8em;
        display: flex;
        flex-wrap: wrap;
    }
    section.jumbotron .container h1 {
        font-weight: 800;
        font-size: 3.5rem;
        margin-bottom: 0.8em;
    }
    section.jumbotron .jumbo-description {
        width: 40%;
    }
    section.jumbotron .jumbo-description * {
        display: block;
        margin-bottom: 3em;    
    }
    section.jumbotron .jumbo-description button {
        background-color: var(--buttons);
        color: white;
        padding: 10px;
        border: none;  
    }
    section.jumbotron .jumbo-description i {
        font-size: 40px;
        margin-bottom: 0.5em;
    }
    section.jumbotron .jumbo-image {
        width: 60%;
        height: 0;
    }
    #oversized {
        max-width: 110%;
    }

    /* main */
    main section {
        width: 55%;
        margin-top: 10rem;
        align-self: center;
    }
    section.wrap h2 {
        font-size: 35px;
    }
    section .checkbox {
        margin: 50px 0;
    }
    section .row {
        width: 100%;
        margin-bottom: 8rem;
        gap: 30px;
        display: flex;
        flex-wrap: wrap;
    }
    section .row .column {
        width: calc(100% / 3 - 20px);
        border: 1px solid grey;
    }
    section .row .column .type {
        text-align: center;
        padding-bottom: 1rem;
        border-bottom: 1px solid gray;
    }
    section .row .column .content {
        width: 80%;
        margin: 0 auto;
        padding-top: 40px;        
    }
    section .row .column .content h5 {
        font-size: 26px;
    }
    section .row .column .content .price {
        font-weight: bold;
    }
    section .row .column .content .period {
        color: gray;
        margin-bottom: 3rem;
    }
    section .row .column div * {
        display: block;
    }
    section .row .column div i {
        display: inline;
    }
    section .row .column div span.awesome {
        margin-bottom: 1rem;
    }
    section .row .column div span.awesome.nodes {
        margin-bottom: 3rem;
    }
    section .row .column div button {
        background-color: var(--buttons);
        color: white;
        border: none;
        padding: 10px 30px;
        margin-bottom: 2rem;
    }
    section .row .column div .buy-link {
        margin-bottom: 2rem;
    }
    section .row .column div hr {
        margin-bottom: 2rem;
    }
    section .row .column div h6 {
        font-size: 16px;
        margin-bottom: 1rem;
    }
    section .row .column div .check {
        margin-bottom: 1rem;
    }
    section .row .column div .check i {
        color: var(--buttons);
    }
    section .row .column .content:last-child {
        margin-bottom: 10rem;
    }
    section .row .column .content.end {
        display: flex;
        margin-bottom: 3rem;
    }
    section .row .column:last-child {
        width: 100%;
    }
    section .partner {
        display: flex;
        width: 100%;
        margin-bottom: 8rem;
    }    
    section .partner-image {
        width: 60%;
    }
    section .partner .partner-description {
        display: flex;
        flex-direction: column;
        width: 40%;
    }
    section .partner .partner-description h5 {
        font-size: 26px;
    }
    section .partner .partner-description * {
        padding: 15px 30px;
    }
    section .partner .partner-description button {
        width: 10em;
        height: 2.5em;
        margin: 10px 30px;
        padding: 5px;
        background: none;
        border: 1px solid;
    }
    section .business {
        width: 100%;
    }
    section .business .card {
        width: calc(100% / 3 - 20px);    
    }    
    section .business .card h5 {
        font-size: 26px;
        margin-bottom: 1em;
    }
    section .end-wrap {
        width: 60%;
    }
    section.sponsor {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        background-color: var(--lightblue);
    } 
    section.sponsor .box {
        width: calc(100% /3);
        display: flex;
        flex-wrap: wrap;
    }
    section.sponsor .box.middle {
        display: block;
        padding: 3% 5% 10% 4%;
        background-color: var(--designit);
    }
    section.sponsor .box.middle * {
        margin-bottom: 2rem;
    }
    section.sponsor .box.middle img {
        width: 60%;
    }
    section.sponsor .box.bottom {
        width: 100%;    
        justify-content: space-around;
        align-items: baseline;
        padding: 7% 2% 4% 2%;
    }
    section.sponsor .box.bottom .text {
        width: 40%;
        font-size: 25px;
        color: var(--sponsor-text);
    }
    section.sponsor .box.bottom button {
        padding: 5px 35px 5px 35px;
        margin: 50px 0px 50px 0px;
    }
    section .row .column:last-child {
        width: 100%;
    }
    section .partner {
        width: 100%;
    }    
    section.sponsor .box div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 50%;
    }
    section.sponsor .box div img {
        padding: 3rem;
        filter: invert(1);
    }
    section.sponsor .box div.color-1 {
        background-color: var(--sponsor-1);
        border: 10px solid var(--sponsor-1-bis);
    }
    section.sponsor .box div.color-2 {
        background-color: var(--sponsor-2);
    }
    section.sponsor .box div.color-3 {
        background-color: var(--sponsor-3);
    }
    section.sponsor .box div.color-4 {
        background-color: var(--sponsor-4);
    }
    section.sponsor .box div.color-5 {
        background-color: var(--sponsor-5);
    }
    section.sponsor .box div.color-6 {
        background-color: var(--sponsor-6);
    }
    section.sponsor .box div.color-7 {
        background-color: var(--sponsor-7);
    }
    section.sponsor .box div.color-8 {
        background-color: var(--sponsor-8);
    }
    section.faq {
        width: 55%;
        margin-bottom: 100px;
    }
    section.faq h2 {
        padding: 0px 0px 70px 0px;    
    }
    section.faq ul li {
        padding: 15px 0;
    }

    /* footer */
    .bottom-wrapper {
        width: 70%;
        margin: 7% 0% 2% 0%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    .bottom-wrapper ul {
        width: calc(100% / 5);
    }
    .bottom-wrapper ul li {
        margin-bottom: 8%;
    }
    .bottom-wrapper ul li h4 {
        margin-bottom: 20%;
        font-size: 24px;
    }
    .bottom-wrapper .final {
        margin-top: 8%;
    }
    .bottom-wrapper .final hr {
        margin-bottom: 70%;    
    }