/* reset */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}

/* debug */
main section {
    background-color: lightseagreen;
}
section .checkbox {
    width: 300px;
    height: 50px;
    background-color: rgba(255, 160, 122, 0.462);
}
section .row {
    height: 800px;
    background-color: rgba(253, 119, 119, 0.379);
}
section .partner {
    height: 400px;
}

section .business {
    height: 600px;
}
section .end-wrap {
    height: 250px;
}
section.sponsor {
    height: 800px;
    background-color: var(--lightblue);
}
section.faq {
    height: 400px;
    background-color: #4e45ff;
}
footer {
    background-color: black;
    height: 250px;
}
.bottom-wrapper {
    background-color: rgba(255, 247, 0, 0.405);
}

/* utility */
:root {
    --neutral:#ffffff; 
    --lightblue:#B4D0E7;
    --buttons:#0061FF;
    --designit:#F5F5F5;
}

/* common */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--neutral);
}
header {
    width: 100%;
}
main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* body */
    /* header  */
    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--neutral);
        position: fixed;
    }
    nav ul {
        list-style-type: none;
        display: inline-flex;
    }
    nav ul li {
        padding: 0 25px 0 25px;
    }
    nav div {
        display: inline-flex;
        align-items: center;
        padding: 20px 15px;
    }
    nav div.menu-header ul li:last-child {
        background-color: var(--buttons);
        color: white;
    }
    section.jumbotron {
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: var(--lightblue);
    }
    section.jumbotron .container {
        width:60%;
        margin-top: 8em;
        display: flex;
        flex-wrap: wrap;
    }
    section.jumbotron .container h1 {
        font-weight: 800;
        font-size: 3.5rem;
        margin-bottom: 0.8em;
    }
    section.jumbotron .jumbo-description {
        width: 40%;
    }
    section.jumbotron .jumbo-description * {
        display: block;
        margin-bottom: 2em;    
    }
    section.jumbotron .jumbo-description button {
        background-color: var(--buttons);
        color: white;
        padding: 10px;
        border: none;  
    }
    section.jumbotron .jumbo-description i {
        font-size: 40px;
        margin-bottom: 0.5em;
    }
    section.jumbotron .jumbo-image {
        width: 60%;
    }

    /* main */
    main section {
        width: 50%;
        margin-top: 200px;
        align-self: center;
    }
    section .checkbox {
        margin: 50px 0;
    }
    section .row {
        width: 100%;
        margin-bottom: 50px;
    }
    section .end-wrap {
        width: 100%;
    }
    section.sponsor {
        width: 100%;
    }
    section.faq {
        width: 50%;
        margin-bottom: 100px;
    }
    
    /* footer */
    .bottom-wrapper {
        width: 70%;
        display: flex;
        justify-content: space-between;
    }