/* reset */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}

/* debug */
body {
    background-color: blanchedalmond;
}
/* utility */

/* common */

/* body */
    /* header  */

    /* main */

    /* footer */
